<h1>Create a new page structure.</h1>
<form method="post" action="/new/structure">
  <label for="human_name">Name</label>
  <input type="text" name="human_name" required>

  <label for="url_prefix">URL Prefix (eg: /blog)</label>
  <input type="text" name="url_prefix" required>
</form>
