<h1>Create a new page structure.</h1>
<form id="new-structure" method="post" action="/new/structure">
  <label for="human_name">Name</label>
  <input type="text" name="human_name" required placeholder="Blog Post">

  <label for="url_prefix">URL Prefix</label>
  <input type="text" name="url_prefix" required placeholder="/blog">

  <label for="template">Template</label>
  <input type="text" name="template" required placeholder="blog_template.handlebars">

  <label for="styles">Styles</label>
  <input type="text" name="styles" placeholder="blog.css">

  <label for="scripts">Scripts</label>
  <input type="text" name="scripts" placeholder="blog.js">

  <button type="submit">Save</button>
</form>

<label for="variables">Variables</label>
<textarea form="new-structure" name="variables" cols="35" wrap="soft"></textarea>
